@import '~bulma/bulma';
@import '~pretty-checkbox/src/pretty-checkbox.scss';



$pretty--color-default:#f68b1e;
$pretty--color-primary:#ed017f;
$pretty--color-info:#ba1600;
$pretty--color-success:#73b747;
$pretty--color-warning:#dd2400;